{% extends "base.html" %}

{% block content %}
<style>
    .main-menu a {
    color: black !important;
}

.container {
    padding: 30px;
    margin-top: 150px;
    background-color: #fff;
}
.btn {
    background-color:  #8080ff;
}
.error-message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
.close-btn {
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
</style>
<div class="container">
    <h2>Add/Edit Address</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="error-message">
                    <span style="color: red;">{{ error }}</span>
                    <span class="close-btn">&times;</span>
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<script>
    // JavaScript to handle closing of error messages
    const closeButtons = document.querySelectorAll('.close-btn');
    closeButtons.forEach(button => {
        button.addEventListener('click', () => {
            button.parentElement.style.display = 'none';
        });
    });
</script>
{% endblock %}
