{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    .alert-dismissible {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .alert-dismissible .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem 1.25rem;
        color: inherit;
    }
</style>

<!-- Display error message -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
            {% if message.tags == 'alert-dismissible' %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
    <h1 style="padding-top: 15%; padding-left: 20%;">Contact Form</h1>
    <form method="post" style="padding-left: 20%; padding-right: 20%;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn theme-btn">Submit</button>
    </form>
</div>

<script>
    // Close the error message when the close button is clicked
    document.querySelectorAll('.close').forEach(function(btn) {
        btn.addEventListener('click', function() {
            this.parentNode.style.display = 'none';
        });
    });
</script>

{% endblock %}