{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>BagHub</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="{% static 'site.html' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/logo/logo.png' %}"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/default.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <style>
      @keyframes moveGradient {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }
    
        .main-menu a {
        color: black !important;
      }
      
      .container {
        margin-top: 100px;
      }
      
      #cart-button {
        border: none;
        background-color: #fcfcfc; /* Change color as needed */
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        border-radius: 60%; /* Make it round */
        font-size: 20px; /* Increase font size */
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    #cart-button:hover {
        background-color:  #8080ff; /* Darker color on hover */
    }
    
    .card:hover {
        box-shadow: 0px 0px 20px rgba(70, 44, 80, 0.618) !important;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    #filter-select {
        color: #a538fe;
        border-radius: 5px;
        width: 90%;
        height: 50%;
        font-weight: bolder;
        border-width: 1;
    }
    
    #item{
      align-items: center;
      display: flex;
      text-align: center;
      
    }
    
    @keyframes moveGradient {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }
    
    
    </style>
  </head>

  <body>
    <!-- preloader -->

    <!-- preloader end  -->

    <!-- header start -->
    <header class="transparent-header transparent-header-2" style="background-color: white;">
      <div class="header-area box-90">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div
              class="col-xl-2 col-lg-6 col-md-6 col-7 col-sm-3 d-flex align-items-center"
            >
              
              <div class="logo">
                <a href="{% url 'index' %}"
                  ><img src="{% static 'img/logo/logo.png' %}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-8 col-8 d-none d-xl-block">
              <div class="main-menu menu-white text-center">
                <nav id="mobile-menu">
                  <ul>
                    <li>
                      <a href="{% url 'index' %}" style="font-size: 150%;">Home</a>
                    </li>
                    <li class="mega-menu">
                      <a href="{% url 'product_list' %}" style="font-size: 150%;">Shop</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-5 col-sm-9 pl-0">
              <div class="header-right f-right">
                <ul>
                  
                  
                  {% if user.is_authenticated %}
                  <!-- If user is authenticated, display account button and logout button -->
                  <li class="d-shop-cart">
                    <a href="{% url 'customer_dashboard' %}"
                    style="border-radius: 5px;"><i class="far fa-user"></i
                    ></a>
                    <ul class="minicart">
                      <li>
                        <a href="{% url 'order_list' %}">Orders</a>
                      </li>

                      <li>
                        <a href="{% url 'edit_customer' %}">Profile</a>
                      </li>
                      <li>
                        <a href="{% url 'address_list' %}">Adresses</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}"
                    style="border-radius: 5px;"><i class="fas fa-sign-out-alt"></i>
                    </a>
                  </li>
                  {% else %}
                  <!-- If user is not authenticated, display login button -->
                  <li class="login-btn">
                    <a href="{% url 'login' %}"style="border-radius: 5px;"><i class="far fa-user"></i></a>
                  </li>
                  {% endif %}
                  <li class="d-shop-cart">
                    <a href="{% url 'cart' %}"
                    style="border-radius: 5px;"><i class="flaticon-shopping-cart"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 d-xl-none">
              <div class="mobile-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->

    <!-- Bootstrap Modal -->
    {% if messages %}
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% block content %} {% endblock %}

    <!-- footer start -->
    <footer>
      <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="{% url 'index' %}"
                    ><img src="{% static 'img/logo/logo.png' %}" style="width: 300px;height: 100px;"/></a>
                </div>
                <p>
                  At BagHub, we believe that luxury should be accessible to all. That's why we strive to offer competitive prices without compromising on quality or authenticity. Whether you're treating yourself to a well-deserved indulgence or searching for the perfect gift for a loved one, BagHub promises unparalleled value and satisfaction with every purchase.
                </p>
                
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li><a href="https://www.facebook.com/mariancollegeofficial">Facebook</a></li>
                  <li><a href="https://www.linkedin.com/in/justin-m-joseph-185591287?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">linkedin</a></li>
                  <li><a href="https://www.instagram.com/mariancollegeofficial/">Instagram</a></li>
                  <li><a href="https://www.youtube.com/@MarianCollegeOfficial">Youtube</a></li>
                </ul>
              </div>
            </div>
            
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>Useful Links</h3>
                <ul class="footer-link">
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'product_list' %}">Shop</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.1378132834493!2d76.96905737450417!3d9.583387080065835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b064dc8bda5cb29%3A0x3d161914b6967f9!2sMarian%20College%20Kuttikkanam%20(Autonomous)!5e0!3m2!1sen!2sin!4v1713461704902!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2024 <a href="https://mariancollege.org/">MCKA</a>. All Rights
                    Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="https://www.facebook.com/mariancollegeofficial"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/mariancollegeofficial/"><i class='fab fa-instagram'></i></a>
                  <a href="https://www.linkedin.com/in/justin-m-joseph-185591287?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://www.youtube.com/@MarianCollegeOfficial"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- Fullscreen search -->
    <div class="search-wrap">
      <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
          <form
            id="searchForm"
            action="{% url 'search_results' %}"
            method="GET"
          >
            <div class="search-field-holder">
              <input
                type="text"
                name="q"
                id="searchInput"
                class="main-search-input"
                placeholder="Search Entire Store..."
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- JS here -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("searchInput");
        searchInput.addEventListener("keypress", function (e) {
          if (e.key === "Enter") {
            e.preventDefault();
            document.getElementById("searchForm").submit();
          }
        });
      });
    </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Script to show the modal -->
  <script type="text/javascript">
      ₹ (document).ready(function() {
          {% if messages %}
              ₹ ('#messageModal').modal('show');
          {% endif %}
      });
  </script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/one-page-nav-min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.final-countdown.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/instafeed.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
