{% extends "admin/change_list_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script>
        function updateQuantity(id) {
            var quantity = document.getElementById('quantity_' + id).value;
            document.getElementById('quantity_form_' + id).submit();
        }
    </script>
{% endblock %}

{% block content %}
    <form id="order-form" method="post" action="{% url 'order_product' %}">
        {% csrf_token %}
        {% for alert in queryset %}
            <tr>
                <td>{{ alert.product }}</td>
                <td>{{ alert.supplier }}</td>
                <td>{{ alert.required_quantity }}</td>
                <td>
                    <input type="number" id="quantity_{{ alert.id }}" name="quantity_{{ alert.id }}" value="0" min="0">
                    <input type="submit" id="quantity_form_{{ alert.id }}" name="quantity_form_{{ alert.id }}" value="Order" style="display: none;">
                    <button type="button" onclick="updateQuantity({{ alert.id }})">Order</button>
                </td>
            </tr>
        {% endfor %}
    </form>
    {{ block.super }}
{% endblock %}