{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    .main-menu a {
    color: black !important;
}

.container {
    padding: 30px;
    margin-top: 150px;
    background-color: white;
}


.card {
    margin-top: 10px;
}

.select-btn {
    margin-left: 20px;
}

.add-btn {
    margin-top: 20px;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  color:rgb(0, 0, 0);

}

.form-control + .form-control {
  margin-top: 1em;
  color:rgb(0, 0, 0);

}

.form-control:focus-within {
  color: var(--form-control-color);
  color:rgb(0, 0, 0);

}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  color:blueviolet;

}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  color:blueviolet;

}

input[type="radio"]:checked::before {
  transform: scale(1);
  color:blueviolet;

}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
  color:blueviolet;
}
       
</style>
<script>
    function validateForm() {
        var selectedAddress = document.querySelector('input[name="selected_address"]:checked');
        if (!selectedAddress) {
            // Display error message if no address is selected
            alert("Please select a shipping address.");
            return false;
        }
        return true;
    }
</script>

<!-- checkout-area start -->
<section class="checkout-area pb-70">
    <div class="container">
        <form method="post" id="checkout-form" onsubmit="return validateForm()">
            {% csrf_token %}
            <input type="hidden" name="address_id" id="address-id">
            {% if cart_items %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Shipping Address</h3>
                                    {% for address in addresses %}
                                        <div class="card">
                                            <div class="card-body">
                                                <label class="address-label">
                                                    <input type="radio" name="selected_address" value="{{ address.id }}" onclick="selectAddress({{ address.id }})" class="mr-3 radio-btn">
                                                    <p class="card-text mb-0">{{ address }}</p>
                                                </label>
                                                <a href="{% url 'address_edit' address.id %}" class="card-link mt-2 d-block">Edit Address</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button type="button" onclick="window.location.href='{% url 'address_create' %}'" class="btn theme-btn add-btn">Add Address</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="your-order mb-30 ">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart_items %}
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    {{ item.product.name }} <strong class="product-quantity"> × {{ item.quantity }}</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">{{ item.sub_total }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">₹ {{ total_price }}</span></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="order-button-payment mt-20">
                            <!-- Stripe payment button -->
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ STRIPE_PUBLIC_KEY }}"
                                    data-name="BagHub"
                                    data-description="Payment Gateway"
                                    data-amount="0"
                                    data-currency="INR"
                                    data-locale="auto"
                                    data-email="{{ request.user.email }}"
                                    data-allow-remember-me="false">
                            </script>
                        </div>
                        <div class="order-button-payment mt-20">
                            <button type="submit" value="Place Order" class="btn theme-btn">Place order</button>
                        </div>
                    </div>
                </div>
            {% else %}

            <div class="card mb-4" style="border-radius: 16px;">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                  <h5 class="mb-0">Cart Empty😯</h5>
                  <p class="mb-4">Let's go shopping!</p>
                  <a href="{% url 'product_list' %}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>

            
            {% endif %}



            
        </form>
    </div>
</section>
<!-- checkout-area end -->

<script>
    function selectAddress(addressId) {
      const addressIdInput = document.getElementById('address-id');
      addressIdInput.value = addressId;
    }
</script>

{% endblock %}